@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

body,
button {
    font-family: "Inter", sans-serif;
}

:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 0px;
    
}

.sidebar-nav {
    width: var(--offcanvas-width);
    
}

.sidebar-link {
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon {
    display: inline-flex;
}

.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}

@media (min-width: 774px) {
    body {
        overflow: auto !important;
    }

    main {
        margin-left: var(--offcanvas-width);
    }

    /* this is to remove the backdrop */
    .offcanvas-backdrop::before {
        display: none;
    }

    .sidebar-nav {
        -webkit-transform: none;
        transform: none;
        visibility: visible !important;
        height: calc(100% - var(--topNavbarHeight));
        top: var(--topNavbarHeight);
    }
}


/* navbar */
.navbar {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin: 0;
    width: 100%;
}

.nav-link {
    padding: 11px;
}

.nav-link:hover {
    background-color: #eee;
    color: black !important;
}


/* 
======================
    Admin Dashboard
======================

*/
.active {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(182, 182, 182, 0.1);
}

.Adminname {
    display: none;
}

@media screen and (max-width:991px) {
    .Admin-name {
        display: none;
    }

    .Adminname {
        display: block;
    }
}

@media screen and (max-width:991px){
    .nav-btn{
        margin-top: 10px !important;
    }
}



/* style doctor page card */
@media screen and (max-width:1223px) {
    .cardDoctor{
        width: 100% !important;
    }
}

.paddingRowImg{
    padding-top: .50rem !important;
}

.paddingRow td{
    padding-top: 1.25rem;
}

